.user-manager h3 {
	text-align: center;
	margin-bottom: 32px;
}

.user-manager__search {
	max-width: 250px;
	margin: 0 0 16px auto;
}

.user-manager__table {
	font-size: 14px;
}

.user-manager__table__actions {
	display: flex;
	align-items: center;
	gap: 10px;
}

.user-manager__table__actions button {
	font-size: 14px;
	padding: 2px 8px;
	border-radius: 10px;
	min-width: 80px;
}
